body {
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	max-width: 900px;
	font-family: 'Source Serif Pro', serif;
	color: #000000;
}

header {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	width: 900px;
	height: 150px;
	background-color: white;
	border-bottom: 6px dotted #B82601;
	clear: both;
}

.header_name{
	margin: 0;
}

.header_subtitle{
	margin: 0;
	margin-bottom: 1em;
}

.logo {
	float: left;
	border-radius: 25% 10%;
	max-height: 5em;
	height: 100px;
	width: 100px;
	box-shadow: 5px 5px 15px #AAA;
}
.center:after {
		content: "";
    display: table;
    clear: both;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.header-title {
	margin-left: 0;
	text-align: right;
	float:right;
	width: auto;
	padding: 0 10px;
	margin: 5px;
	color: #062f4f;
	text-transform: uppercase;
}

.Scilla-view img{
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 100%;
	text-align: center;
	font-size: 4em;
	color: #fff;
	vertical-align: middle;
	box-shadow: 4px 4px 4px 0 #eee;
}
.slogan {
	color: #062f4f;
	font: 1.5em "Taviraj", serif;
	position: relative;
	bottom: 5px;
	left: 5px;
	width: 100%;
}

.featured-work {
	padding-left: 1em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
	width: 800px;
	max-width: 100%;
	font-size: 2em;
}

.p_part {
	text-align: center;
	float: left;
  width: 33.33%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.p_part_img {
	width: 100%;
}

.p_title {
	font-size: 1.5em;
}

a:link {
	color: #758eb7;
	text-decoration: none;
	font-size: 0.50em;
}

footer {
	border-top: 3px solid;
	margin-top: 1em;
	padding-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
	color: #813772;
}

footer a:link {
	font-size: 1em;
}

img {
	max-width: 100%;
}

/* Here we set some breakpoints */

/* mini screens */
@media screen and (max-width: 355px) {
	body {
		min-width: 350px;
	}
}

/* smaller screens*/
@media screen and (max-width: 600px) {
	.header_name {
		font-size: 1.5em;
	}

	.featured_work {
		text-align: center;
	}

	.p_part_img {
		width: 80%;
	}

	footer {
		font-size: 0.75em;
	}

	.p_part {
		width: 100%;
		margin-bottom: 1em;
	}
}

/*medium screens*/
@media screen and (min-width: 601px) and (max-width: 768px) {
	.p_part {
		width: 50%;
	}

	a:link {
		font-size: 1em;
	}

	.p_part{
		margin-bottom: 2em;
	}
}
